@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.maze-container {
  max-width: 600px;
  margin: 0 auto;
}

.info {
  font-size: 18px;
}

.maze {
  display: grid;
  margin: 20px auto;
  gap: 2px;
}

.cell {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #393939;
}

.wall {
  position: absolute;
  background-color: #000000;
}

.wall-north {
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
}

.wall-east {
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
}

.wall-south {
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
}

.wall-west {
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
}

.player,
.goal {
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player {
  background-color: rgb(255, 0, 0);
}

.goal {
  background-color: gold;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.controls button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: #555;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.controls button:hover {
  background-color: #777;
}

.status p {
  font-size: 18px;
}

.status button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.status button:hover {
  background-color: #0056b3;
}
